{% extends "base.html" %}

{% block title %}CipherNest | Home{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock style %}

{% block navbar %}{% endblock navbar %}

{% block sidebar %}
<div class="col-3 sidebar text-center">
    <h1 class="py-4"><a class="title" href="{{ url_for('index')}}"><img class="title-icon" src="{{ url_for('static', filename='img/icon-lock-orange.png') }}" alt="lock icon">CipherNest</a></h1>
    <a class="sidebar-btn" href="/caesar-cipher">Caesar Cipher</a>
    <a class="sidebar-btn" href="/vernam-cipher">Vernam Cipher</a>
    <a class="sidebar-btn" href="/block-cipher">Block Cipher</a>
    <a class="sidebar-btn" href="/rsa">RSA Encryption</a>
    <a class="sidebar-btn" href="/ecc">ECC Encryption</a>
    <a class="sidebar-btn" href="/md5">MD5</a>
    <a class="sidebar-btn" href="/sha1">SHA-1</a>
    <a class="sidebar-btn" href="/sha256">SHA-256</a>
    <a class="sidebar-btn" href="/sha512">SHA-512</a>
</div>
{% endblock sidebar %}

{% block mainpage %}
<div class="col-9 mainpage pt-4 text-center">
    <br><br>
    <h1 class="main-heading fw-bold"><img class="title-icon" src="{{ url_for('static', filename='img/icon-key.png') }}" alt="key icon">WELCOME TO APPLIED CRYPTOGRAPHY!<img class="title-icon" src="{{ url_for('static', filename='img/icon-lock.png') }}" alt="lock icon"></h1>
    <br>
    <div class="mx-5 px-4">
        <p class="fs-5">Explore cryptographic algorithms interactively. Choose a cipher below to 
        experiment with encryption, decryption, hashing, and key exchange concepts.</p>
    </div>
    <br>
    <h3 class="heading">Symmertric Encryption Algorithms</h3>
    <div class="d-flex justify-content-center flex-wrap py-4">
        <div class="w-25 m-2">
            <a href="/caesar-cipher" class="btn btn-outline-light p-3 mx-2 border-3 rounded-4">Caesar Cipher</a>
            <p class="fs-5 p-3">An encryption algorithm that divides plaintext into fixed-size blocks and encrypts each block using a symmetric key.</p>
        </div>
        <div class="w-25 m-2">
            <a href="/vernam-cipher" class="btn btn-outline-light p-3 mx-2 border-3 rounded-4">Vernam Cipher</a>
            <p class="fs-5 p-3">The Vernam cipher, also known as a one-time pad, is a method of encrypting alphabetic text using a substitution technique.</p>
        </div>
        <div class="w-25 m-2">
            <a href="/block-cipher" class="btn btn-outline-light p-3 mx-2 border-3 rounded-4">Block Cipher</a>
            <p class="fs-5 p-3">A substitution cipher that shifts each letter in the plaintext by a fixed number of positions in the alphabet.</p>
        </div>
    </div>
    <br>
    <h3 class="heading">Asymmertric Encryption Algorithms</h3>
    <div class="d-flex justify-content-center flex-wrap py-4">
        <div class="m-2" style="width: 40%;">
            <a href="/rsa" class="btn btn-outline-light p-3 mx-2 border-3 rounded-4">RSA Encryption</a>
            <p class="fs-5 p-3">RSA (Rivest-Shamir-Adleman) is a widely used asymmetric encryption algorithm that relies on the computational difficulty of factoring the product of two large prime numbers.</p>
        </div>
        <div class="m-2" style="width: 40%;">
            <a href="/ecc" class="btn btn-outline-light p-3 mx-2 border-3 rounded-4">ECC Encryption</a>
            <p class="fs-5 p-3">ECC (Elliptic Curve Cryptography) is a more modern approach to asymmetric cryptography that relies on the algebraic structure of elliptic curves over finite fields.</p>
        </div>
    </div>
    <br>
    <h3 class="heading">Hashing Algorithms</h3>
    <div class="d-flex justify-content-center flex-wrap py-4">
        <div class="m-2" style="width: 20%;">
            <a href="/md5" class="btn btn-outline-light p-3 mx-2 border-3 rounded-4">MD5</a>
            <p class="fs-6 p-3">A widely-used cryptographic hash function that produces a 128-bit hash value, but is now considered insecure due to vulnerability to collision attacks.</p>
        </div>
        <div class="m-2" style="width: 20%;">
            <a href="/sha1" class="btn btn-outline-light p-3 mx-2 border-3 rounded-4">SHA-1</a>
            <p class="fs-6 p-3">Generates a 160-bit hash value and was commonly used in security protocols, but is deprecated because of weaknesses allowing for collision attacks.</p>
        </div>
        <div class="m-2" style="width: 20%;">
            <a href="/sha256" class="btn btn-outline-light p-3 mx-2 border-3 rounded-4">SHA-256</a>
            <p class="fs-6 p-3">A part of the SHA-2 family, producing a 256-bit hash, and is widely used for cryptographic security, offering strong resistance to collisions.</p>
        </div>
        <div class="m-2" style="width: 20%;">
            <a href="/sha512" class="btn btn-outline-light p-3 mx-2 border-3 rounded-4">SHA-512</a>
            <p class="fs-6 p-3">Another member of the SHA-2 family, producing a 512-bit hash value, and provides stronger security and greater resistance to attacks compared to SHA-256.</p>
        </div>
    </div>
</div>
{% endblock mainpage %}